body, html {

  

    min-height: 100vh;
 padding: 0;
  margin: 0;
  background-repeat: no-repeat;

}

body {
    position:relative;
    justify-content: center;
    justify-self: center;
    top: 200px;
    overflow-x: hidden;
    background-repeat: no-repeat;

}


body::before {
content: "";
filter: blur(7px);
z-index: -1;
opacity: 1;
overflow: hidden;
position: fixed;
top: 0;
left: 0;
right: 0;
bottom: 0;
background-repeat: no-repeat;
background-size: cover;
background-position: 0px -70px;
background-image: url(assets/images/MR.T.jpg);
}

#video-line {
    position:absolute;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin: 0 auto;
    justify-content: center;
    justify-self: center;
    overflow-x: hidden;
}

p {
    margin: 0 auto;
    justify-content: center;
    justify-self: center;
    padding: 20px;
    color: white;
    font-size: 50px;
}

h1 {
    margin: 0 auto;
    justify-content: center;
    justify-self: center;
    padding: 20px;
    color: white;
}
